p {
    font-size: 25px;
    font-weight: 4rem;
    text-indent: 2rem;
}
p::first-line {
    color: blue;
}

p::first-letter {
    font-style: italic;
    font-size: 25px;
    color: midnightblue;
    text-shadow: 5px 5px 5px aqua;
}